.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;

  @include breakpoint(tablet) {
    padding: 0 2.5rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 3rem;
}

.fade-out {
  animation: fadeOut 1.5s ease;
}

.skeleton {
  user-select: none !important;
  background-color: #eeeeee !important;
  color: #eeeeee !important;
}
